@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Heebo");
tubuh {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  tampilan: fleksibel;
  align-item: tengah;
  justify-content: pusat;
  min-tinggi: 100vh;
  font-family: "Heebo";
}

b {
  posisi: relatif;
  atas: 0;
  kiri: -25;
}

#tombol {
  lebar: 100%;
  tampilan: fleksibel;
  arah fleksibel: kolom;
  align-item: tengah;
  justify-content: pusat;
}

.btn {
  dekorasi teks: tidak ada;
  tampilan: blok;
  bantalan: 15px;
  batas-radius: 50px;
  font-berat: 900;
  perataan teks: tengah;
  margin: 30 piksel;
  lebar: 200 piksel;
  transisi: semua 0,3 detik mudah;
}

.btn-padat {
  background-image: linear-gradient(130deg, #fc00ff 0%, #00dbde 100%);
  bayangan kotak: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  warna putih;
  font-berat: 900;
}

.skala efek: arahkan kursor {
  mengubah: skala(1.05);
}

.btn-garis besar {
  batas: 4px solid #fc00ff;
  bayangan kotak: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  warna: #fc00ff;
  font-berat: 900;
}

.btn-garis: arahkan kursor {
  bayangan kotak: 0px 2px 20px 5px #fc00ff;
  warna: #fc00ff;
}

.btn-garis besar:fokus {
  garis besar: 0;
}

.btn-roll {
  warna latar: transparan;
  batas: 4px solid #27BAE3;
}

.btn-roll span {
  tampilan: blok;
  posisi: relatif;
  transisi: 0,3 detik mudah masuk semua;
  transformasi-asal: 50% 0;
  mengubah-gaya: melestarikan-3d;
  warna: #27BAE3;
  lebar: 100%;
}

.btn-roll span:setelah {
  tampilan: blok;
  konten: attr(data-judul);
  posisi: mutlak;
  kiri: 0;
  atas: 0;
  transisi: 0,3 detik mudah masuk semua;
  transformasi-asal: 50% 0;
  mengubah: translate3d(0px, 105%, 0px) rotateX(-90deg);
  warna: #fc00ff;
  lebar: 100%;
}

.btn-roll:hover span {
  mengubah: translate3d(0px, 0px, -30px) rotateX(90deg);
}

.btn-1 {
  fleksibel: 1 1 otomatis;
  perataan teks: tengah;
  transisi: 0,5 detik;
  ukuran latar belakang: 200% otomatis;
  warna putih;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  batas-radius: 50px;
  background-image: linear-gradient(130deg, #fc00ff 0%, #00dbde 100%);
}

.btn-1:arahkan kursor {
  posisi latar belakang: tengah kanan;
  /* ubah arah perubahan di sini */
}
